.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  border-radius: 3px !important;
  font-weight: 600 !important;
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border-radius: 3px !important;
  font-weight: 600 !important;
}

.MuiDateCalendar-root {
  width: 260px !important;
  max-height: 273px !important;
  font-weight: 600 !important;
}

.MuiPickersCalendarHeader-root {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
  font-weight: 600 !important;
}

.MuiDayCalendar-weekDayLabel {
  font-weight: 600 !important;
}

/* width of toast notifications based on screen size */
.custom-toast {
  width: 100%; /* Default width for mobile or smaller screens */
}

/* @media (min-width: 768px) {
  .custom-toast {
      width: 400px !important; 
  }
} */

.MuiTableCell-body {
  padding: 1.5px !important;
}


